::selection {
    background-color: #993CCF;
    color: #FFA937;
}

body {
    background-color: #222222;
    margin: 0;
}

header {
    border-radius: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    position: sticky;
    top: 0;
    padding: 10px 16px;
}

.title {
    font-family: "Archivo Black", sans-serif;
    color: white;
    margin: 0;
}

.github {
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.sign-up {
    background-color: yellowgreen;
    font-size: 20px;
    border-radius: 20px;
    border-width: 5px;
}

.ads-modal {
/* Your exact styles */
  background-color: #F55F44;
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.2);

  /* The centering magic */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensures it sits on top of all other page content */
}

.modal-title {
    font-family: "Impact", sans-serif;
    text-align: center;
}

.footer {
    position: fixed;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.note-from-dev {
    margin-top: 375px;
}

.note-header {
    color: white;
    margin-left: 25px;
    font-family: "Libertinus Math", system-ui;
}

.explain {
    color: white;
    margin-left: 25px;
    font-family: "Edu VIC Wa NT Hand", cursive;
}

.cool {
    color: red;
}

.arrow {
    width: 50px;
    height: 50px;
}